* {
    margin: 0;
}

body {
    background-color: #F2F2F2;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.main-window {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #DBDBDB;

    border: 1px solid #cacaca;
    border-radius: 5px;

    min-height: 70vh;
    min-width: 50vw;
}

.main-window-heading {
    margin: 20px 20px 10px 20px;
    text-align: left;
    font-size: 25px;
}

.center {
    text-align: center;
}

#inner-window {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.table-textbox {
    box-sizing: border-box;
    border: 0;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.td-textbox {
    padding: 0;
    height: 30px;
}

.side-window {
    margin: 10px;
    background-color: #DBDBDB;

    border: 1px solid #cacaca;
    border-radius: 5px;

    min-width: 10vw;
}

table.point-table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 10px 10px;
}

.point-table tr, th, td {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid black !important;
}

td.points {
    text-align: center;
    vertical-align: middle
}

.vazirmatn-font {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

